#🐝-garden {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	filter: drop-shadow(2px 2px 2px #0008);
	z-index:999;
}

#🐝-garden img {
	position: fixed;
	transition: none;
}

#🐝-garden img.flip {
	transform: scaleX(-100%);
	transform-origin: center;
}
